[submodule "hl2sdk"]
	path = hl2sdk
	url = https://github.com/drunderscore/hl2sdk
	branch = tf2
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "JMP"]
	path = JMP
	url = https://github.com/drunderscore/JMP
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf/
